
html{

    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}
body{   
    height: 100%;
    width:100%;
    margin: 0;
    padding: 0;
}
#wrapper{
    display: block;
    height: 100%;
    width:100%;
    position: absolute;
}

#messages{
    display: inline-block;
    height: 80%;
    width: 80%;
overflow-y:scroll;
}

#messages span{
    display: block;
    border-bottom: 1px solid black;
    padding-left: 5%;
}
#features{
    display: inline-table;
    height: 7%;
    width: 100%;
border-top: 1px solid blue;
}

#features button{
    height: 80%;
    width: 20%;
    margin: 1% 2%;
 
    display: table-cell;
}
#msgForm{
    display: inline-table;
    height: 8%;
    width: 100%;
  
}

#msgForm input{
    width: 80%;
    height: 70%;
    display: table-cell;
    margin:  1% 2%;
}

#msgForm button{
  
    display: table-cell;
    width: 10%;
    height: 100%;
}


aside {
    display: inline-table;
    width:20%;
   height: 80%;
    overflow-y:scroll;
    float: right;
}

#userList span{
    display: block;
}

#userList:first-child{
    margin-top: 10%;
}

